{% extends 'dashboard/layout/layout.html' %}

{% load crispy_forms_tags %}

{% block positional_head %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock positional_head %}


{% block content %}
  <div class="container bg-light shadow-md m-1 p-5 form-layout">
    <h3>{% block service-title %}Cadastrar Serviço:{% endblock service-title %}</h3>
    <br />
    <!-- Master Category -->    
    <div id="div_id_service" class="form-group">
      <label for="id_service" class=" requiredField">
        Categoria:
      </label>
      <div>
        {% block master-category %}
          <select name="category" id="category" class="select form-control" hx-get="{% url "dashboard:load_services_category" %}" hx-target="#id_service_category">
            <option value="" selected>---------</option>
            {% for cat in master_categories %}
              <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}
          </select>    
        {% endblock master-category %}  
      </div>
    </div>
    <!-- Service Category -->
    <div id="div_id_service" class="form-group">
      <label for="id_service" class=" requiredField">
        Categoria do Serviço:
      </label>
      <div id="id_service_category">
        {% block service-category %}
          {% include "dashboard/services/partials/_opt_cat.html" %}
        {% endblock service-category %}
      </div>
    </div>
    <form {% block action_form %}{% endblock action_form %} method="post" autocomplete="on" enctype='multipart/form-data'>     

      {% csrf_token %}     

      {% block value-id %}{% endblock value-id %}
      
      {% block service-list %}
      <div id="div_id_service" class="form-group">
        <label for="id_service" class=" requiredField">
            Serviços:
        </label>
        <div>
            <select name="service" class="select form-control" required id="id_service">
                <option value="" selected>---------</option>                  
            </select>
        </div>
    </div>
      {% endblock service-list %}
      
      {{ form.price|as_crispy_field }}
      {{ form.unit|as_crispy_field }}
      <!-- Button trigger modal -->
      <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUnityModal">+</a>
      
      {{ form.service_image|as_crispy_field }}
      {{ form.requirements|as_crispy_field }}
      {{ form.active|as_crispy_field }}

      <br />
      <button type="submit" class="btn btn-primary p-2">{% block btn_desc %}Cadastrar Serviço{% endblock btn_desc %}</button>
      <button type="reset" class="btn btn-primary p-2"><i class="fas fa-sync-alt"></i></button>
      <a href="{% url "dashboard:services" user.supplier_id %}" class="btn btn-primary p-2">Serviços</a>
    </form>

    {% include "dashboard/services/partials/_modal_unity.html" %}
    
{% endblock %}

{% block posicional_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>  
    <script>
      $(document).ready(function() {                
        $('#id_service').select2();
        $('#id_unit').select2();
        $('#form_unity').submit(function(event) {
          event.preventDefault();          
          $.ajax({
              url: '{% url "dashboard:add_unity" %}', 
              type: 'POST',
              data: $(this).serialize(),
              dataType: 'json',
              success: function(response) {
                  if (response.status === 'success') {
                    $('#id_unit').select2({
                      data: response.data
                    });
                    $('#btn-close-modal').click();
                  } else {
                      // ... código para lidar com a resposta de erro ...
                  }
              },
              error: function() {
                  // ... código para lidar com erros na requisição ...
              }
          });
      });

    });
    </script>
{% endblock posicional_javascript %}

