<table>
    <thead>
        <tr>
            <th>Serviço</th>
            <th>Valor</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for item in sup_services %}      
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        {%if item.service_image%}
                            <img
                                src="/dashboard{{item.service_image.url}}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                        {%endif%}
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{item.supplier.name}}</p>
                            <p class="fw-semi-bold mb-1">{{item.service.category.name}}</p>
                            <p class="text-muted mb-0">{{item.service.description}}</p>
                        </div>
                    </div>
                    
                </td>
                <td>
                    <p class="fw-semi-bold mb-1">R$ {{item.price}} Por {{item.unit}}</p>
                </td>
                <td>
                    <a href='{% url "user:schedule" item.id %}' class="btn btn-secondary" id="basic-addon2">Agendar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> 