{% extends "layout/base-panel.html" %}
{% load static %}


{% block content %}
    <div class='mt-[80px]'>
        <a href="{% url 'panel:add_team' request.user.supplier.id %}" 
            class="mt-[80px] text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 
            font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 
            sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 
            focus:outline-none dark:focus:ring-purple-800">Cadastrar Equipe</a>
    </div>
    <br>
    <br>
    <table class="mt-4 w-full table-auto text-left">
        <thead>
            <tr>
                <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
                    <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Equipe <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                    </p>
                </th>
                <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
                    <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Status <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                    </svg>
                    </p>
                </th>
                <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
                    <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Ações</p>
                </th>
            </tr>
        </thead>
        <tbody>
            
            {% for team in teams %}
                <tr class="hover:bg-purple-100 align-middle">               
                    <td class="p-4 border-b border-blue-gray-50">
                        <a href="{% url "panel:view_team" request.user.supplier.id team.id %}" class="">
                            <div class="flex">
                                <i class="fa-solid fa-people-group pr-10 text-purple-500 text-xl"></i>
                                <p class="antialiased font-sans text-sm leading-normal text-purple-900 font-semibold">{{team.name}}</p>
                            </div>
                        </a>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <div class="w-max">
                            <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none {% if team.active %}bg-green-500/20 text-green-600 {% else %}bg-red-500/20 text-red-600{% endif %}  py-1 px-2 text-xs rounded-md" style="opacity: 1;">
                                <span class="">{% if team.active %}Ativo {% else %}Inativo{% endif %}</span>
                            </div>
                        </div>
                    </td>                    
                    <td class="flex p-4 border-b border-blue-gray-50 gap-5 text-xl">
                        <a href="{% url "panel:edit_team" supplier.id team.id %}" class="text-purple-500 ">
                            <i class="fa-solid fa-marker"></i>
                        </a>   
                        <a href="{% url "panel:delete_team" supplier.id team.id %}" class="text-red-500">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>                        
                    </td>
                </tr>
            {% endfor %}
            
          
        </tbody>
    </table>
{% endblock content %}