
<form method="POST">
    {% csrf_token %}
    <div class="lg:mt-0 lg:col-span-5 lg:flex gap-8 justify-center">
        <div class="w-full max-w-md py-10">
            <div class="space-y-3 bg-white dark:bg-gray-800 border p-5 border-gray-200 rounded-lg shadow-sm dark:border-gray-700">               
                {% for field in form %}
                    <div>                        
                        <label for="{{ field.id_for_label }}" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                            <select id="{{ field.id_for_label }}" name="{{ field.name }}" autocomplete="{{ field.autocomplete }}" placeholder="{{ field.field.widget.attrs.placeholder }}" required class="rounded-lg relative block w-full px-3 py-2 bg-purple-500 border border-purple-300 placeholder-purple-500 text-white rounded-t-md focus:inline-none focus:ring-purple-900 focus:z-10 sm:text-sm">  
                                {% for key, name in field.field.choices %}
                                    <option value="{{ key }}" class='bg-purple-300' {% if field.value == name %}selected{% endif %}  >{{ name }}</option>
                                {% endfor %}
                            </select>   
                        {% elif field.field.widget.input_type == 'date' %}                        
                            <div class="relative h-10 w-full min-w-[200px]">
                                <input
                                    id="{{ field.id_for_label }}"
                                    name="{{ field.name }}"
                                    required
                                    placeholder="00/00/0000"
                                    value="{% if field.value is not None %}{{ field.value }}{% endif %}"
                                    class="peer rounded-lg relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:inline-none focus:ring-purple-900 focus:bg-purple-50 focus:z-10 sm:text-sm"
                                />
                            </div>

                        {% else %}
                            <input 
                                id="{{ field.id_for_label }}" 
                                name="{{ field.name }}" 
                                value="{% if field.value is not None %}{{ field.value }}{% endif %}"  
                                type="{{ field.field.widget.input_type }}" 
                                placeholder="{{ field.field.widget.attrs.placeholder }}" 
                                {{ field.field.widget.attrs.disabled }} 
                                {% if field.name != 'complement' %}required{% endif %} 
                                class="rounded-lg relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:inline-none focus:ring-purple-900 focus:bg-purple-50 focus:z-10 sm:text-sm" />
                        {% endif %}
                    </div>
                {% endfor %}  
                {% if 'address' not in request.path %}
                    <div>                        
                        <label for="owner_name" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Representante</label>
                        <input id="id_owner_name" name="owner_name" type="text" disabled
                            value="{{ supplier.owner_name }}"
                            class="rounded-lg relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:inline-none focus:ring-purple-900 focus:bg-purple-50 focus:z-10 sm:text-sm" />

                    </div>                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
            <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                <span>&nbsp&nbsp&nbsp&nbsp Continuar</span>
            </div>
        </button>
    </div>
</form>