<div class="max-w-screen-lg pt-[50px] mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between">

    {% comment %} <div class="text-center">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
            STEPS
        </p>
        <h3 class="text-3xl sm:text-5xl leading-normal font-extrabold tracking-tight text-gray-900">
            How it <span class="text-indigo-600">Works?</span>
        </h3>

    </div> {% endcomment %}

    <div class="mt-20">
        <ul class="md:grid md:grid-cols-3 md:col-gap-10 md:row-gap-10 ">
            <a href="{% url "supplier:company_details" request.user.supplier.id %}">
                <li class="  p-5 pb-5 text-center rounded-l-lg">
                    <div class="flex flex-col items-center">
                        <div class="flex-shrink-0 relative top-0 -mt-16">
                            <div class="flex items-center justify-center h-10 w-10 rounded-full 
                            {% if step == 1 %} bg-purple-500 text-white {% elif step == 2 or step == 3 %} bg-lime-400 text-white{% endif %}
                            border-4 border-white text-xl font-semibold">
                            {% if step == 1 %} 1 {% elif step == 2 or step == 3 %} <i class="fa-solid fa-check"></i> {% endif %}
                            </div>
                        </div>
                        <div class="mt-2">
                            <h4 class="text-lg leading-6 font-semibold
                            {% if step == 1 %} text-purple-700 {% elif step == 2 or step == 3 %} text-lime-500 {% endif %}">Informações</h4>
                        </div>
                    </div>
                </li>
            </a>
            <a href="{% url "supplier:company_address" request.user.supplier.id %}">
                <li class="  p-5 pb-10 text-center">
                    <div class="flex flex-col items-center">
                        <div class="flex-shrink-0 relative top-0 -mt-16">
                            <div class="flex items-center justify-center h-10 w-10 rounded-full 
                            {% if step == 2 %} bg-purple-500 text-white {% elif step == 3 %} bg-lime-300 text-white {% elif step == 1 %} bg-gray-300 text-white {% endif %}
                            border-4 border-white text-xl font-semibold">
                            {% if step == 2 or step == 1 %} 2 {% elif step == 3 %} <i class="fa-solid fa-check"></i> {% endif %}
                            </div>
                        </div>
                        <div class="mt-2">
                            <h4 class="text-lg leading-6 font-semibold 
                            {% if step == 2 %} text-purple-700 {% elif step == 3 %} text-lime-500 {% elif step == 1 %} text-gray-400 {% endif %}">Endereço</h4>
                        </div>
                    </div>
                </li>
            </a>
            <li class=" p-5 pb-10 text-center">
                <div class="flex flex-col items-center">
                    <div class="flex-shrink-0 relative top-0 -mt-16">
                        <div class="flex items-center justify-center h-10 w-10 rounded-full
                        {% if step == 3 %} bg-purple-500 text-white {% elif step == 1 or step == 2 %} bg-gray-300 text-white {% endif %} 
                          border-4 border-white text-xl font-semibold">
                          3
                        </div>
                    </div>
                    <div class="mt-2">
                        <h4 class="text-lg leading-6 font-semibold 
                        {% if step == 3 %} text-purple-700 {% elif step == 1 or step == 2 %} text-gray-400 {% endif %} ">Plano</h4>
                    </div>
                </div>
            </li>

        </ul>
    </div>

</div>