<section class="bg-white dark:bg-gray-900">
    {% if services %}          
        <h2 class="block text-center font-semibold text-xl mb-4">Serviços</h2>  
        <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
            <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-3 dark:text-gray-400">
                {% for service in services %}
                    <div class="flex bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-md">
                        <div class="flex-initial px-4">
                            <img src="{{ media_url }}{{service.service_image}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-20 h-20 rounded-md">
                        </div>
                        <div class="flex-initial px-4">
                            <h3 class="font-semibold mb-2">{{service.general_service}}</h3>
                            <p class="text-gray-700 dark:text-gray-300 mb-2">{{service.supplier.details.company_name_show}}</p>
                            <p class="text-gray-700 dark:text-gray-300 mb-2">R$ {{service.price}} por {{service.unit}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if suppliers %}      
        <h2 class="block text-center font-semibold text-xl mb-4">Fornecedores</h2>   
        <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
            <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-3 dark:text-gray-400">               
                {% for supplier in suppliers %}
                    <div class="flex bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-md">
                        <div class="flex-initial px-4">
                            <img src="{{ media_url }}{{supplier.photo}}" alt="{{supplier.company_name_show}}" class="inline-block relative object-cover object-center !rounded-full w-20 h-20 rounded-md">
                        </div>
                        <div class="flex-initial px-4">
                            <h3 class="text-xl font-semibold mb-2">{{supplier.company_name_show}}</h3>
                            {% comment %} <p class="text-gray-700 dark:text-gray-300 mb-2">{{service.general_service}}</p>
                            <p class="text-gray-700 dark:text-gray-300 mb-2">R$ {{service.price}} por {{service.unit}}</p> {% endcomment %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
</section>