{% load static %}

{% block content %}
  <footer id="footer" class="overflow-hidden padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <img src="{% static 'img/supplier/main-logo-dark.png' %}" alt="footer logo" class="pb-4 w-25" />
            <p>Vehicula at eget a arcu neque, ultricies liquet tempus.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2">
                <a href="#about">About</a>
              </li>
              <li class="pb-2">
                <a href="#">Terms & Conditions</a>
              </li>
              <li class="pb-2">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="pb-2">
                <a href="#">Career</a>
              </li>
              <li class="pb-2">
                <a href="#">Contact</a>
              </li>
              <li class="pb-2">
                <a href="#">Help</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2">
                <a href="#about">Quick Links</a>
              </li>
              <li class="pb-2">
                <a href="#">Newsletter</a>
              </li>
              <li class="pb-2">
                <a href="#">Articles</a>
              </li>
              <li class="pb-2">
                <a href="#">Location</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2">163 Elm Drive, New York City United States</li>
              <li class="pb-2">(+089) 234-516-6123</li>
              <li class="pb-2">
                <a href="mailto:">info@yourinfo.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
