{% extends "user/layout/layout.html" %}
{% load static %}




<!-- Content (main, sector, etc) -->
{% block content_parent %}
    <main>
        <section class="py-5">
            <div class="container text-center justify-content-center">
                <h1 class="display-4">Encontre os melhores serviços perto de você</h1>
                <p class="lead">Procurando por um serviço específico? Aqui você encontra tudo o que precisa, de forma rápida e fácil.</p>                
                <div class="input-group mb-3 w-50">
                    <input 
                        name='search'
                        hx-get='{% url "user:search" %}'
                        hx-target='#results'
                        hx-trigger='keyup changed delay:500ms'
                        type="text" 
                        class="form-control" 
                        placeholder="Digite o Serviço ou Fornecedor" 
                        aria-label="Recipient's username" 
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="input-group-text" id="basic-addon2">Buscar</button>
                    </div>
                </div>
            </div>
            <div id='results'>
                
            </div>
        </section>
        

    </main>

{% endblock content_parent %}

