{% extends 'supplier/layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

  <section id="intro">  
    <div class="image-holder position-relative">
      <img src="{% static 'img/supplier/banner-item1-w.png' %}" alt="banner" class="banner-image" />
    </div>  
    <div class="container-lg">
      <div class="banner-content position-absolute text-center" data-aos="fade-up">
        <form action="{% url "supplier:login" %}" method="post">
        
          {% csrf_token %} 
          <h3 class="fw-bold p-b-43">Entrar - Painel</h3>          
      
          <div class="form-floating mb-2">
            <input name="username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Informe o E-mail</label>
          </div>
          <div class="form-floating mb-2">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
          </div>
      
          <div class="text-sm-end">
            <div>
              <a href="#" class="txt1">Esqueceu a Senha?</a>
            </div>
          </div>

          <div class="mb-2">
            <button type="submit" class="btn-slide btn-medium btn-primary hover-slide-right text-uppercase mt-5 w-100"><span>Entrar</span></button>
          </div>
          <div class="text-center p-t-46 p-b-20">
            <span>Ainda não tem Cadastro?</span><a href="{% url 'supplier:register_user' %}">&nbsp; Cadastre sua Loja</a>
          </div>
        </form>              
      </div>
    </div>
  </section>

{% endblock %}
