 <!-- Categories -->
 <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-3 dark:text-gray-400">
            <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-md">
                {% for segment in segments %}
                <img src="#" alt="{{segment.name}}" class="inline-block relative object-cover object-center !rounded-full w-20 h-20 rounded-md">
                    <h3 class="text-xl font-semibold mb-2">{{segment.name}}</h3>
                {% endfor %}
            </div>            
        </div>
    </div>
</section>