{% extends "layout/base.html" %}
{% load static %}

{% block title %}Cadastrar Loja{% endblock title %}

{% block head %}
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <div class="container mx-auto max-w-screen-lg px-4 py-16 pt-[100px]">
        <div class="flex justify-center items-center mb-10">
            <h1 class="text-2xl font-bold text-gray-800">Escolha entre CPF ou CNPJ</h1>
        </div>
        <div class="grid grid-cols-2 gap-6 text-center">
            <a href="{% url 'supplier:document_choice' supplier.id %}?choice=CPF" class="card shadow-md rounded-xl transition-all duration-300 transform hover:scale-105">
                <div class="card-body py-6">
                    <h2 class="text-xl font-bold text-gray-800">CPF</h2>
                    <p class="text-base text-gray-600">Pessoa Física</p>
                </div>
            </a>
            <a href="{% url 'supplier:document_choice' supplier.id %}?choice=CNPJ" class="card shadow-md rounded-xl transition-all duration-300 transform hover:scale-105">
                <div class="card-body py-6">
                    <h2 class="text-xl font-bold text-gray-800">CNPJ</h2>
                    <p class="text-base text-gray-600">Pessoa Jurídica</p>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}